<div id="<%= dom_id server %>"  style="margin-top: 20px; margin-left: 20 px; margin-right: 20px;">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= server.name %>
  </p>


  <% if action_name != "show" %>
    <%= link_to "Show this server", server, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this server', edit_server_path(server), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
