<div id="<%= dom_id user %>" style="display: flex; align-items: center; margin-top: 20px; margin-left: 20 px; margin-right: 20px;>
  <h2 class="ml-2 mr-2"><%= user.email %></h2>
  <% if action_name != "show" %>
    <%= link_to "Show this user", user, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" , style: "font-size: 1.2em; margin-left: auto;"%>
    <hr class="mt-6">
  <% end %>
</div>
