

<div class="flex justify-center items-center rounded-md shadow-sm" role="group">
  <button type="button" class="px-4 py-6 text-md font-medium text-gray-900 bg-transparent border border-gray-900 rounded-l-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
    Connect
  </button>
  <button type="button" class="px-4 py-6 text-md font-medium text-gray-900 bg-transparent border-t border-b border-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
    Settings
  </button>
  <button type="button" class="px-4 py-6 text-md font-medium text-gray-900 bg-transparent border border-gray-900 rounded-r-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
    Monitoring
  </button>
</div>

<div class="btn-group btn-group-vertical gap-4">
  <button class="btn active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 ">Ejemplo 1</button>
  <button class="btn active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">Ejemplo 2</button>
  <button class="btn active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300">Ejemplo 3</button>
</div>